ul.function_lists
    li.block.createLocalRepo
        ul.status_block: li: li: li
        div.function_title
            div.function_icon1.baseIcon
            div.function_name 新建仓库
    li.block.manageBranch
        ul.status_block: li: li: li
        div.function_title
            div.function_icon2.baseIcon
            div.function_name 分支管理
    li.block
        ul.status_block: li: li: li
        div.function_title 
            div.function_icon3.baseIcon
            div.function_name 推送仓库
    li.block
        ul.status_block: li: li: li
        div.function_title
            div.function_icon4.baseIcon
            div.function_name 全局设置
    li.block
        ul.status_block: li: li: li
        div.function_title
            div.function_icon5.baseIcon
            div.function_name 克隆仓库
    li.block
        ul.status_block: li: li: li
        div.function_title
            div.function_icon6.baseIcon
            div.function_name 使用教程