ul.menuContainer
    li: a(href='/github' async) 我的github
    li: a git使用教程
    li: a 定大推送
    li: a 大大大大撒大
    li: a 大大大大撒大
div.aboutAuthor
    div.aboutWrapper
        div.authorIcon
        span 关于软件
